// Partials //
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

// Variables //
// Color palette and fonts //
$primary-color-1: hsl(31, 77%, 52%);
$primary-color-2: hsl(184, 100%, 22%);
$primary-color-3: hsl(179, 100%, 13%);
$neutral-color-1: hsla(0, 0%, 100%, 0.75); // Paragraphs //
$neutral-color-2: hsl(0, 0%, 95%); // Background, headings, buttons //
$border-color: hsl(260, 12%, 81%);

$primary-font: 'Lexend Deca', sans-serif; // 400 //
$secondary-font: 'Big Shoulders Display', cursive; // 700//

// Reusable code //
@mixin flexContainer($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

// Mobile 375px //
// Base //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    font-size: 15px;
    background-color: $neutral-color-2;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 3%; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

button {
    background: none;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

// Layout //